@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
@font-face {
  font-family: Rockwell;
  src: url("../../fonts/rockwell.ttf"); }

.m-item--left__serv, .m-item--right__serv, .m-item, .m-item--left, .m-item--right, .c-wrapp, .features-item, .clients__about, .clients__list {
  outline: 1px solid #777; }

.clients-wrap::after, .clients-reviews::after, .clients__list::after {
  content: '';
  display: inline-block;
  width: 100%; }

.c-wrapp::after, .m-item--left::after,
.m-item--right::after, .clients::after, .clients-wrap::after, .plans::after, .plans__question::after, .plans__btn::after {
  content: '';
  display: table;
  clear: both; }

.m-item--left__serv, .m-item--right__serv {
  width: 585px;
  padding-top: 115px;
  padding-bottom: 105px; }

html {
  font-family: "Raleway", sans-serif; }

header.m-item {
  height: 147px; }

.m-item {
  width: 100%; }
  .m-item::after {
    content: '';
    display: table;
    clear: both; }
  .m-item--left {
    width: 50%;
    background-color: #202242;
    float: left; }
    .m-item--left__serv {
      float: right; }
  .m-item--right {
    width: 50%;
    background-color: #ffe13e;
    float: left; }
    .m-item--right__serv {
      float: left; }

.c-wrapp {
  max-width: 1170px;
  height: 100%;
  margin: 0 auto; }

.slide {
  width: 100%;
  background: #eee url("../img/bg-slide.jpg") no-repeat 50% 50%;
  background-size: cover;
  height: 794px; }

.action_block {
  font-family: "Raleway", sans-serif;
  color: #fff; }
  .action_block .action-img {
    width: 170px;
    height: 170px;
    background-color: red;
    margin: 0 auto 50px; }
  .action_block .action-title {
    font-size: 36px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    margin-bottom: 20px; }
  .action_block .action-text {
    margin: 0 85px;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 30px; }
  .action_block .action-btn {
    box-sizing: border-box;
    width: 155px;
    display: block;
    padding: 20px 55px;
    font-size: 18px;
    line-height: 24px;
    margin: 0 auto;
    border: 3px solid #fff;
    color: #fff;
    text-decoration: none;
    transition: all .2s ease-out; }
    .action_block .action-btn:hover {
      background-color: rgba(255, 255, 255, 0.1);
      transition: all .2s ease-out; }

.features {
  width: 100%;
  background: #fbf8f1 url("../../img/bg-features.png") no-repeat 50% 100%;
  padding: 100px 0 120px; }
  .features__title {
    font-size: 48px;
    line-height: 24px;
    font-weight: 700;
    text-align: center; }
  .features__subtitle {
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 85px; }
  .features__list {
    width: 100%;
    text-align: justify; }
    .features__list::after {
      content: '';
      width: 100%;
      display: inline-block; }
  .features-item {
    width: 240px;
    padding: 0 15px;
    text-align: center;
    display: inline-block; }
    .features-item__img {
      padding-bottom: 38px;
      position: relative; }
      .features-item__img::after {
        content: '';
        width: 70px;
        height: 3px;
        background-color: #8d8d99;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -35px; }
    .features-item__title {
      margin-bottom: 20px;
      color: #f4d320;
      font: 30px/24px "Rockwell", monospace; }
    .features-item__text {
      font-size: 14px;
      line-height: 24px;
      color: #202242; }

.clients {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 30px; }
  .clients-wrap {
    margin-bottom: 88px;
    width: 100%;
    text-align: justify; }
  .clients-reviews {
    text-align: justify;
    width: 100%;
    margin-bottom: 110px; }
  .clients__about {
    width: 370px;
    float: left; }
  .clients__list {
    width: 770px;
    float: right;
    text-align: justify;
    font-size: 0; }
    .clients__list .clients-item {
      width: 170px;
      height: 115px;
      background-color: #faf9f9;
      display: inline-block; }
  .clients .reviews-item {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    padding: 30px 30px 25px 20px;
    width: 370px;
    background-color: #faf9f9;
    font: 14px/24px "Rockwell", monospace;
    font-style: italic;
    color: #adadad; }
    .clients .reviews-item__text {
      text-align: left; }
    .clients .reviews-item__signature {
      font: bold 16px/24px "Raleway", sans-serif; }
    .clients .reviews-item__user {
      width: 90px;
      height: 90px;
      position: absolute;
      bottom: 0%;
      right: 25px;
      margin-bottom: -45px;
      border-radius: 50%;
      border: 5px solid #202242;
      border: 5px solid rgba(32, 34, 66, 0.11);
      background: #eee url("../../img/user-1.png") no-repeat 0 0; }

.plans {
  padding: 90px 120px;
  background-color: #202242; }
  .plans__question {
    box-sizing: border-box;
    float: left;
    color: #fff;
    padding: 2% 0; }
    .plans__question .question__title {
      font-size: 36px;
      line-height: 24px;
      margin: 0 0 15px; }
    .plans__question .question__subtitle {
      font-size: 18px;
      line-height: 24px;
      color: #676991; }
  .plans__btn {
    float: right; }
    .plans__btn a {
      display: block;
      padding: 30px 60px;
      background-color: #ffe13e;
      border: 4px solid #fff;
      color: #000;
      font-weight: bold;
      text-decoration: none; }

footer.m-item {
  height: 657px;
  width: 100%;
  background: #363855 url("../img/footer-bg.jpg") no-repeat 0 0;
  background-size: cover; }
