@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
@font-face {
  font-family: Rockwell;
  src: url("../../fonts/rockwell.ttf"); }

.m-item--left__serv, .m-item--right__serv, .m-item, .m-item--left, .m-item--right, .c-wrapp, .features-item, .clients__about, .clients__list, .clients .reviews-item {
  outline: 1px solid #777; }

.clients-wrap::after, .clients-reviews::after, .clients__list::after {
  content: '';
  display: inline-block;
  width: 100%; }

.ik_select_list li:hover, .header__contact__btn a:hover, .slide__btn:hover, .action_block .action-btn:hover, .plans__btn a:hover, .header__contact__btn a, .action_block .action-btn, .plans__btn a, footer.m-item .footer__nav-item a, footer.m-item .footer__nav-item a:hover, footer.m-item .footer__nav-back, footer.m-item .footer__nav-back:hover, footer.m-item .footer__social-item a, footer.m-item .footer__social-item a:hover {
  transition: all .2s ease-out; }

.ik_select_list li:hover, .header__contact__btn a:hover, .slide__btn:hover, .action_block .action-btn:hover, .plans__btn a:hover {
  opacity: .8; }

.header::after, .c-wrapp::after, .m-item--left::after,
.m-item--right::after, .clients::after, .clients-wrap::after, .plans::after, .plans__question::after, .plans__btn::after, footer.m-item .footer__nav::after, footer.m-item .footer__copyright::after {
  content: '';
  display: table;
  clear: both; }

.m-item--left__serv, .m-item--right__serv {
  width: 585px;
  padding-top: 115px;
  padding-bottom: 105px; }

.ik_select {
  /*
	Wraps all the plugin's HTML code.
	Probably you should not add any styles here
	*/ }

.ik_select_link {
  background: #ffe13e;
  font-size: 18px;
  color: #000;
  position: relative;
  padding: 18px 22px;
  font-weight: bold;
  cursor: pointer;
  /* Fake select you click on to open the dropdown */ }

.ik_select_link_focus {
  /* Focused state of the fake select */ }

.ik_select_link_disabled {
  /* Disabled state of the fake select */ }

.ik_select_link_text {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }
  .ik_select_link_text::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    font-size: 20px;
    line-height: 24px;
    margin-top: -8px;
    width: 10px;
    height: 15px;
    background: url("../img/shevron.png") no-repeat 50% 50%; }

.ik_select_dropdown {
  /*
		Dropdown wrapper. Needed for script calculations.
		You should not add any visual styles here.
		You can shift the position of the dropdown
		by changing top and left values like
		top: -2px;
		left: -5px;
		*/ }

.ik_select_list {
  /*
			Wrapper for the options list.
			Now that's a good place to add visual styles.
			*/
  background: #ffe13e;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  box-shadow: inset 0px 9px 32px -8px rgba(0, 0, 0, 0.15); }
  .ik_select_list li {
    padding: 4px 45px 4px 18px;
    cursor: pointer; }
    .ik_select_list li:hover {
      background-color: #faf9f9; }

.ik_select_list_inner ul {
  margin: 0;
  list-style: none;
  padding: 0; }

.ik_select_optgroup {
  /* Optgroup */ }

.ik_select_optgroup_label {
  /* Optgroup label */ }

.ik_select_option {
  /* Option */ }

.ik_select_option_label {
  /* Option label */ }

.ik_select_hover {
  /* The hovered state of an option */ }

.ik_select_active {
  /* The active state of an option */ }

.ik_select_filter_wrap {
  /* Wrapper for the filter input */ }

.ik_select_filter {
  /* Filter input */ }

.ik_nothing_found {
  /* Block that's shown when there's nothing found. */ }

html {
  font-family: "Raleway", sans-serif; }

.header {
  padding: 35px 0 30px 0;
  color: #000; }
  .header__logo {
    margin-top: 30px;
    float: left;
    vertical-align: baseline;
    margin-right: 60px; }
    .header__logo__text {
      font: 26px/24px "Rockwell", monospace;
      padding-left: 44px;
      position: relative; }
      .header__logo__text::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 26px;
        height: 32px;
        background-color: red;
        background: url("../img/logo.png") no-repeat 50% 50%; }
  .header__menu {
    list-style: none;
    margin: 0;
    margin-top: 35px;
    padding: 0;
    float: left; }
    .header__menu .activ a {
      color: #f4d320; }
  .header__item {
    display: inline-block; }
    .header__item a {
      color: #000;
      text-decoration: none;
      text-transform: uppercase;
      padding: 0 10px;
      font-size: 16px; }
  .header__contact {
    float: right; }
    .header__contact__question {
      font-size: 12px;
      font-weight: 800;
      line-height: 24px;
      margin-bottom: 20px; }
    .header__contact__btn {
      float: left; }
      .header__contact__btn a {
        display: block;
        text-decoration: none;
        background-color: #ffe13e;
        color: #000;
        font-size: 14px;
        font-weight: bold;
        padding: 10px 30px; }
    .header__contact__number {
      float: right;
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      padding-left: 20px;
      border-left: 1px solid rgba(32, 34, 66, 0.31); }

.slide {
  color: #fff;
  padding: 230px 0 140px 0;
  width: 100%;
  background: #eee url("../img/bg-slide.jpg") no-repeat 50% 50%;
  background-size: cover; }
  .slide::before, .slide::after {
    content: '';
    display: table; }
  .slide__title {
    margin-bottom: 30px;
    text-align: center; }
  .slide__subtitle {
    margin-bottom: 50px;
    margin-bottom: 60px;
    text-align: center; }
  .slide__img {
    margin-bottom: 60px;
    text-align: center; }
  .slide__domain-name {
    width: 570px;
    margin: 0 auto;
    padding: 18px;
    font-size: 0;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.5); }
    .slide__domain-name input[type="text"] {
      display: block;
      font-size: 18px;
      outline: 0;
      border-width: 0;
      padding: 18px 22px; }
      .slide__domain-name input[type="text"]:focus {
        outline: 2px solid rgba(32, 34, 66, 0.5); }
  .slide__inline {
    vertical-align: top;
    display: inline-block;
    text-align: left; }
  .slide__btn {
    background-color: #ffe13e;
    border: none;
    color: white;
    padding: 20px 22px 18px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-left: 1px solid #fff; }

.m-item {
  width: 100%; }
  .m-item::after {
    content: '';
    display: table;
    clear: both; }
  .m-item--left {
    width: 50%;
    background-color: #202242;
    float: left; }
    .m-item--left__serv {
      float: right; }
  .m-item--right {
    width: 50%;
    background-color: #ffe13e;
    float: left; }
    .m-item--right__serv {
      float: left; }

.c-wrapp {
  position: relative;
  max-width: 1170px;
  height: 100%;
  margin: 0 auto; }

.action_block {
  color: #fff; }
  .action_block .action-img {
    position: relative;
    width: 170px;
    height: 170px;
    margin: 0 auto 50px; }
    .action_block .action-img--left {
      background: url("../img/services-icon.png") no-repeat 50% 50%; }
    .action_block .action-img--right {
      position: absolute;
      top: 30%;
      left: -40%;
      font-size: 134px;
      font-weight: bold;
      line-height: 44px;
      color: #000; }
  .action_block .action-title {
    font-size: 36px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    margin-bottom: 20px; }
  .action_block .action-text {
    margin: 0 85px;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 30px; }
  .action_block .action-btn {
    box-sizing: border-box;
    width: 155px;
    display: block;
    padding: 20px 55px;
    font-size: 18px;
    line-height: 24px;
    margin: 0 auto;
    border: 3px solid #fff;
    color: #fff;
    text-decoration: none; }

.features {
  width: 100%;
  background: #fbf8f1 url("../../img/bg-features.png") no-repeat 50% 100%;
  padding: 100px 0 120px; }
  .features-bgc {
    background-color: #fbf8f1; }
  .features__title {
    font-size: 48px;
    line-height: 24px;
    font-weight: 700;
    text-align: center; }
  .features__subtitle {
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 85px; }
  .features__list {
    width: 100%;
    text-align: justify; }
    .features__list::after {
      content: '';
      width: 100%;
      display: inline-block; }
  .features-item {
    width: 260px;
    padding: 0 5px;
    text-align: center;
    display: inline-block; }
    .features-item__img {
      padding-bottom: 38px;
      position: relative; }
      .features-item__img::after {
        content: '';
        width: 70px;
        height: 3px;
        background-color: #8d8d99;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -35px; }
    .features-item__title {
      margin-bottom: 20px;
      color: #f4d320;
      font: 30px/24px "Rockwell", monospace; }
    .features-item__text {
      font-size: 14px;
      line-height: 24px;
      color: #202242; }

.clients {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 30px; }
  .clients-wrap {
    margin-bottom: 88px;
    width: 100%;
    text-align: justify; }
  .clients-reviews {
    text-align: justify;
    width: 100%;
    margin-bottom: 110px; }
  .clients__about {
    width: 370px;
    float: left; }
  .clients__list {
    width: 770px;
    float: right;
    text-align: justify;
    font-size: 0; }
    .clients__list .clients-item {
      width: 170px;
      height: 115px;
      background-color: #faf9f9;
      display: inline-block; }
  .clients .reviews-item {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    padding: 30px 30px 25px 20px;
    width: 370px;
    background-color: #faf9f9;
    font: 14px/24px "Rockwell", monospace;
    font-style: italic;
    color: #adadad; }
    .clients .reviews-item__text {
      text-align: left; }
    .clients .reviews-item__signature {
      font: bold 16px/24px "Raleway", sans-serif; }
    .clients .reviews-item__user {
      width: 90px;
      height: 90px;
      position: absolute;
      bottom: 0%;
      right: 25px;
      margin-bottom: -45px;
      border-radius: 50%;
      border: 5px solid #202242;
      border: 5px solid rgba(32, 34, 66, 0.11);
      background: #eee url("../../img/user-1.png") no-repeat 0 0; }

.plans {
  padding: 90px 120px;
  background-color: #202242; }
  .plans-bgc {
    background-color: #202242; }
  .plans__question {
    box-sizing: border-box;
    float: left;
    color: #fff;
    padding: 2% 0; }
    .plans__question .question__title {
      font-size: 36px;
      line-height: 24px;
      margin: 0 0 15px; }
    .plans__question .question__subtitle {
      font-size: 18px;
      line-height: 24px;
      color: #676991; }
  .plans__btn {
    float: right; }
    .plans__btn a {
      display: block;
      padding: 30px 60px;
      background-color: #ffe13e;
      border: 4px solid #fff;
      color: #000;
      font-weight: bold;
      text-decoration: none; }

footer.m-item {
  width: 100%;
  background-color: #363855;
  color: #fff; }
  footer.m-item .footer__map {
    background-size: cover;
    background: #363855 url("../img/footer-bg.jpg") no-repeat 50% 50%; }
  footer.m-item .footer__nav {
    margin-top: 140px;
    text-align: right;
    float: right;
    margin-bottom: 25px; }
    footer.m-item .footer__nav-title {
      font-size: 18px;
      margin: 0;
      margin-bottom: 35px; }
    footer.m-item .footer__nav-list {
      margin: 0;
      padding-left: 30px;
      padding: 0;
      list-style: none; }
    footer.m-item .footer__nav-item a {
      display: block;
      font-size: 16px;
      color: #fff;
      padding: 10px 0;
      text-decoration: none;
      border-bottom: 1px solid #fff;
      border-bottom: 1px solid rgba(255, 255, 255, 0.16); }
      footer.m-item .footer__nav-item a:hover {
        color: #ffe13e; }
    footer.m-item .footer__nav-back {
      font-size: 12px;
      text-decoration: none;
      color: #fff; }
      footer.m-item .footer__nav-back:hover {
        color: #ffe13e; }
  footer.m-item .footer__social {
    list-style: none;
    margin-bottom: 60px; }
    footer.m-item .footer__social-item {
      display: inline-block;
      margin-left: 20px; }
      footer.m-item .footer__social-item a {
        color: #ffe13e; }
        footer.m-item .footer__social-item a:hover {
          color: #fff; }
  footer.m-item .footer__copyright {
    text-align: center;
    width: 100%;
    float: left;
    margin-bottom: 70px; }

.slicknav_menu {
  display: none; }

@media screen and (max-width: 1170px) {
  .c-wrapp {
    width: 94%; }
  .header__logo {
    text-align: center;
    margin: 0 auto;
    float: none; }
  .header__menu {
    width: 50%;
    float: none;
    margin: 35px auto 0;
    text-align: justify; }
    .header__menu::after {
      content: '';
      width: 100%;
      display: inline-block; }
  .header__contact {
    display: none; }
  .m-item--left, .m-item--right {
    width: auto;
    float: none; }
    .m-item--left__serv, .m-item--right__serv {
      float: none;
      width: auto;
      padding: 55px 0 50px; }
  .clients {
    padding: 40px 0; }
  .clients__about {
    text-align: center;
    width: 80%;
    float: none;
    margin: 0 auto;
    margin-bottom: 20px; }
  .clients-wrap {
    margin-bottom: 64px; }
  .clients__list {
    width: 80%;
    float: none;
    margin: 0 auto; }
  .clients-reviews {
    margin-bottom: 55px; }
  .clients .reviews-item {
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 60px; }
  .features {
    padding: 50px 0 40px; }
    .features-item {
      box-sizing: border-box;
      width: 49%;
      margin-bottom: 2%; }
    .features__subtitle {
      margin-bottom: 40px; }
  .plans__question, .plans__btn {
    text-align: center;
    float: none; }
  .plans__btn {
    width: 50%;
    margin: auto; } }

@media screen and (max-width: 930px) {
  .header__menu {
    width: 70%; }
  .clients__about,
  .clients__list,
  .clients .reviews-item {
    width: 100%; }
  footer.m-item .footer__map {
    background-size: cover;
    background-position: 70% 50%; }
  .plans {
    padding: 90px 15%; }
  .plans__btn {
    width: 100%; }
  .plans__question .question__title {
    line-height: 40px; } }

@media screen and (max-width: 740px) {
  .header__menu {
    width: 90%; }
  .clients__list .clients-item {
    width: 49%;
    background-color: #F5F5F5;
    text-align: center;
    margin-bottom: 2%; } }

@media screen and (max-width: 640px) {
  .features-item {
    display: block;
    width: 100%; }
  .slide__domain-name input[type="text"],
  .ik_select_link {
    font-size: 14px; }
  .slide__domain-name {
    width: 100%;
    text-align: center; }
  .slide__btn {
    font-size: 12px; } }

@media screen and (max-width: 515px) {
  .header__menu {
    width: 100%; }
  .slide__domain-name {
    padding: 18px 0; } }

@media screen and (max-width: 470px) {
  .slide__inline:last-child {
    width: 300px;
    display: block;
    margin: 0 auto;
    margin-top: 10px; }
  .slide__btn {
    width: 100%; }
  .header__item a {
    padding: 10px; }
  /* #menu is the original menu */
  .js #menu {
    display: none; }
  .js .slicknav_menu {
    display: block; } }

@media screen and (max-width: 380px) {
  .action_block .action-text {
    margin: 0 25px;
    margin-bottom: 30px; }
  .action_block .action-title {
    line-height: 40px; }
  .clients__list .clients-item {
    width: 100%; } }
