@font-face {
  font-family: Rockwell;
  src:url('../fonts/rockwell.ttf');
}
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

$bgc: #ccc;
$light-text: #fff;
$dark-text: #000;
$accent-text: #f4d320;
$accent-font: 'Rockwell', monospace;
$default-text: #202242;
$default-font: 'Raleway', sans-serif;
$gray-bg: #faf9f9;
$clients-color: #adadad;
$accent-bgc: #ffe13e;
$gray-color: #363855;
