.ik_select {
	/*
	Wraps all the plugin's HTML code.
	Probably you should not add any styles here
	*/
}
	.ik_select_link {
    background: #ffe13e;
    font-size: 18px;
    color: #000;
    position: relative;
    padding: 18px 22px;

    font-weight: bold;

    cursor: pointer;
		/* Fake select you click on to open the dropdown */
	}
	.ik_select_link_focus {
		/* Focused state of the fake select */
	}
	.ik_select_link_disabled {
		/* Disabled state of the fake select */
	}
		.ik_select_link_text {
			display:block;
			// overflow:hidden;
			white-space:nowrap;
			text-overflow:ellipsis;

      &::after {
        content:'';
        position: absolute;
        top: 50%;
        right: 15px;
        font-size: 20px;
        line-height: 24px;
        margin-top: -8px;
        width:10px;
        height: 15px;
        background: url('../img/shevron.png') no-repeat 50% 50%;
      }

		}

	.ik_select_dropdown {
		/*
		Dropdown wrapper. Needed for script calculations.
		You should not add any visual styles here.
		You can shift the position of the dropdown
		by changing top and left values like
		top: -2px;
		left: -5px;
		*/
	}
		.ik_select_list {
			/*
			Wrapper for the options list.
			Now that's a good place to add visual styles.
			*/
      background: #ffe13e;
      font-size: 18px;
      line-height: 24px;
      color: #000;

      -webkit-box-shadow: inset 0px 9px 32px -8px rgba(0,0,0,0.15);
      -moz-box-shadow: inset 0px 9px 32px -8px rgba(0,0,0,0.15);
      box-shadow: inset 0px 9px 32px -8px rgba(0,0,0,0.15);

      li {
        padding: 4px 45px 4px 18px;
        cursor: pointer;

        &:hover {
          background-color: $gray-bg;
          @extend %hover-btn;
        }
      }
		}

      .ik_select_list_inner {
        ul {
          margin: 0;
          list-style: none;
          padding: 0;
          // margin-top:5px;
        }
      }
			.ik_select_optgroup {
				/* Optgroup */
			}
				.ik_select_optgroup_label {
					/* Optgroup label */
				}
				.ik_select_option {
					/* Option */
				}
					.ik_select_option_label {
						/* Option label */
					}
				.ik_select_hover {
					/* The hovered state of an option */
				}
				.ik_select_active {
					/* The active state of an option */
				}

		.ik_select_filter_wrap {
			/* Wrapper for the filter input */
		}
		.ik_select_filter {
			/* Filter input */
		}
		.ik_nothing_found {
			/* Block that's shown when there's nothing found. */
		}
