@media screen and (max-width: 1170px) {
  .c-wrapp {
    width:94%;
  }

  .header {
    &__logo {
      text-align: center;
      margin: 0 auto;
      float: none;
    }

    &__menu {
      width: 50%;
      float: none;
      margin: 35px auto 0;
      text-align: justify;

      &::after {
        content:'';
        display: inline-block;
        width: 100%;
      }
    }

    &__contact {
      display: none;
    }
  }

  .m-item--left, .m-item--right {
    width: auto;
    float: none;

    &__serv {
      float: none;
      width: auto;
      padding: 55px 0 50px;
    }
  }

  .clients {
    padding: 40px 0;
  }

  .clients__about {
    text-align: center;
    width:80%;
    float: none;
    margin: 0 auto;
    margin-bottom:20px;
  }

  .clients-wrap {
    margin-bottom: 64px;
  }

  .clients__list {
    width:80%;
    float:none;
    margin: 0 auto;
  }

  .clients-reviews {
    margin-bottom: 55px;
  }

  .clients .reviews-item {
    display: block;
    width:80%;
    margin:0 auto;
    margin-bottom:60px;
  }

  .features {
    padding: 50px 0 40px;

    &-item {
      box-sizing: border-box;
      width: 48.5%;
      margin-bottom: 3%;
    }

    &__subtitle {
      margin-bottom: 40px;
    }
  }

  .plans {
    &__question, &__btn {
      text-align: center;
      float: none;
    }

    &__btn {
      width: 50%;
      margin: auto;
    }
  }
}//end max-width: 117 0px

@media screen and (max-width: 930px) {
  .header__menu {
    width: 70%;
  }

  .clients__about,
  .clients__list,
  .clients .reviews-item {
    width: 100%;
  }

  footer.m-item .footer__map {
    background-size: cover;
    background-position: 70% 50%;
  }

  .plans {
    padding: 90px 15%;
  }

  .plans__btn {
    width: 100%;
  }

  .plans__question .question__title {
    line-height: 40px;
  }
}//end max-width: 930px

@media screen and (max-width: 740px) {
  .header__menu {
    width: 90%;
  }

  .clients__list .clients-item {
    width: 49%;
    background-color: #F5F5F5;
    text-align: center;
    margin-bottom:2%;
  }
}//end max-width: 740px

@media screen and (max-width: 640px) {
  .features-item {
    display: block;
    width: 100%;
  }

  .slide__domain-name input[type="text"],
  .ik_select_link {
    font-size: 14px;
  }

  .slide__domain-name {
    width: 100%;
    text-align: center;
  }

  .slide__btn {
    font-size: 12px;
  }
}//end max-width: 640px

@media screen and (max-width: 515px) {
  .header__menu {
    width: 100%;
  }

  .slide__domain-name {
    padding: 18px 0;
  }
}//end max-width: 515px

@media screen and (max-width: 470px) {
  .slide__inline:last-child {
    width: 300px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
  }

  .slide__btn {
    width: 100%;
  }

  .header__item a {
    padding: 10px;
  }

  /* #menu is the original menu */
  .js #menu {
    display:none;
  }

  .js .slicknav_menu {
    display:block;
  }
}//end max-width: 470px

@media screen and (max-width: 380px) {
  .slide {
    padding: 50px 0 70px 0;
  }

  .action_block .action-text {
    margin: 0 25px;
    margin-bottom: 30px;
  }

  .clients__list .clients-item {
    width: 100%;
  }
}//end max-width: 380px
