$bgc: #ccc;
$light-text: #fff;
$dark-text: #000;
$accent-text: #f4d320;
$accent-font: 'Rockwell', monospace;
$default-text: #202242;
$default-font: 'Raleway', sans-serif;
$gray-bg: #faf9f9;
$clients-color: #adadad;
$accent-bgc: #ffe13e;
$gray-color: #363855;

%outline {
  outline:1px solid #777;
  // height:500px;
}

%inline-justufy {
  content:'';
  display: inline-block;
  width: 100%;
}
%transition {
  transition: all .2s ease-out;
}

%hover-btn {
  opacity: .8;
  @extend %transition;
}

//
// %header {
//   height:147px;
// }
%clear {
  content:'';
  display: table;
  clear: both;
}

%services {
  @extend %outline;
  width:585px;
  // height: 655px;
  padding-top: 115px;
  padding-bottom: 105px;
}
