
@import 'base';
@import 'placeholder';
@import 'ikselect';



html {
  font-family: $default-font;
}

//header

.header {
  padding: 35px 0 30px 0;
  color:$dark-text;

  &::after {
    @extend %clear;
  }

  &__logo {
    margin-top:30px;
    float:left;
    vertical-align: baseline;
    margin-right: 60px;

    &__text {
      font:26px/24px $accent-font;
      padding-left: 44px;
      position: relative;

      &::before {
        content:'';
        position: absolute;
        top:0;
        left:0;
        width: 26px;
        height: 32px;
        background-color: red;
        background: url('../img/logo.png') no-repeat 50% 50%;
      }
    }
  }

  &__menu {
    list-style: none;
    margin: 0;

    margin-top:35px;
    padding: 0;
    float: left;

    .activ a{
      color: $accent-text;
    }
  }

  &__item {
    display: inline-block;

    a {
      color: $dark-text;
      text-decoration: none;
      text-transform: uppercase;
      padding: 0 10px;
      font-size:16px;
    }
  }

  &__contact {
    float: right;

    &__question {
      font-size: 12px;
      font-weight: 800;
      line-height: 24px;
      margin-bottom: 20px;
    }

    &__btn {
      float: left;

      a {
        display: block;
        text-decoration: none;
        background-color: $accent-bgc;
        color: $dark-text;
        font-size: 14px;
        font-weight: bold;
        padding: 10px 30px;
        @extend %transition;

        &:hover {
          @extend %hover-btn;
        }
      }
    }

    &__number {
      float: right;
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      padding-left: 20px;
      border-left: 1px solid rgba($default-text,.31);
    }
  }
}

//slide

.slide {
  color: $light-text;
  padding: 230px 0 140px 0;
  width:100%;
  background: #eee url('../img/bg-slide.jpg') no-repeat 50% 50%;
  background-size: cover;

  &::before,
  &::after {
    content:'';
    display: table;
  }

  &__title {
    margin-bottom: 30px;
    text-align: center;
  }

  &__subtitle {
    margin-bottom: 50px;
    margin-bottom: 60px;
    text-align: center;
  }

  &__img {
    margin-bottom: 60px;
    text-align: center;
  }

  &__domain-name {
    width: 570px;
    margin: 0 auto;
    // height:91px;
    padding: 18px;

    font-size: 0;
    box-sizing: border-box;
    background-color: transparentize($light-text, .5);

    input[type="text"] {
      display: block;
      font-size: 18px;
      outline: 0;
      border-width: 0;
      padding: 18px 22px;

      &:focus {
        outline:2px solid transparentize($default-text, .5);
      }
    }
  }

  &__inline {
    vertical-align: top;
    display: inline-block;
    text-align: left;
  }

  &__btn {
    background-color: $accent-bgc;
    border: none;
    color: $dark-text;
    padding: 20px 22px 18px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-left:1px solid $light-text;

    &:hover {
      @extend %hover-btn;
    }
  }
}

.m-item {
  @extend %outline;
  width: 100%;

  &::after {
    content:'';
    display: table;
    clear: both;
  }

  &--left {
    @extend %outline;
    width:50%;
    background-color: #202242;
    float:left;
    &__serv {
      @extend %services;
      float: right;
    }
  }

  &--right {
    @extend %outline;
    width:50%;
    background-color: $accent-bgc;
    float:left;
    &__serv {
      @extend %services;
      float: left;
    }
  }
}

//main

.c-wrapp {
  @extend %outline;
  position: relative;
  max-width: 1170px;
  height: 100%;
  margin: 0 auto;

  &::after {
    @extend %clear;
  }
}

.m-item--left::after,
.m-item--right::after {
  @extend %clear;
}

//services

.action_block {
  color: $light-text;

  &--dark-text {
    color: $dark-text;
  }

  .action-img {
    position: relative;
    width:170px;
    height: 170px;
    margin:0 auto 50px;

    &--left {
      background: url('../img/services-icon.png') no-repeat 50% 50%;
    }
    &--right {
      position: absolute;
      top:30%;
      left:-40%;
      font-size: 134px;
      font-weight: bold;
      line-height: 44px;
      color: $dark-text;
    }
  }

  .action-title {
    font-size: 36px;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    margin-bottom: 20px;
  }

  .action-text {
    margin: 0 85px;
    text-align: center;
    font-size:14px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  .action-btn {
    box-sizing: border-box;
    width: 155px;
    display: block;
    padding: 20px 55px;
    font-size:18px;
    line-height: 24px;
    margin: 0 auto;
    border: 3px solid $light-text;
    color: $light-text;
    text-decoration: none;
    @extend %transition;

    &--dark-text {
      color: $dark-text;
      border-color: $dark-text;
    }

    &:hover {
      @extend %hover-btn;
    }
  }
}

//features

.features {
  width:100%;
  background: #fbf8f1 url('../../img/bg-features.png') no-repeat 50% 100%;
  padding:100px 0 120px;

  &-bgc {
    background-color: #fbf8f1;
  }

  &__title {
    font-size: 48px;
    line-height: 40px;
    font-weight: 700;
    text-align: center;
  }

  &__subtitle {
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 85px;
  }

  &__list {
    width:100%;
    text-align: justify;

    &::after {
      content: '';
      width:100%;
      display: inline-block;
    }
  }

  &-item {
    @extend %outline;
    width: 260px;
    padding: 0 5px;
    text-align: center;
    display: inline-block;


    &__img {
      padding-bottom: 38px;
      position: relative;

      &::after {
        content:'';
        width:70px;
        height: 3px;
        background-color: #8d8d99;
        position: absolute;
        bottom: 0;
        left:50%;
        margin-left: -35px;
      }
    }

    &__title {
      margin-bottom: 20px;
      color: $accent-text;
      font: 30px/24px $accent-font;
    }

    &__text {
      font-size: 14px;
      line-height: 24px;
      color: $default-text;
    }
  }
}

//clients

.clients {
  width:100%;
  padding-top: 80px;
  padding-bottom: 30px;

  &::after,
  &-wrap::after {
    @extend %clear;
  }

  &-wrap {
    margin-bottom: 88px;
    width: 100%;
    text-align: justify;

    &::after {
      @extend %inline-justufy;
    }
  }

  &-reviews {
    text-align: justify;
    width: 100%;
    margin-bottom: 110px;

    &::after {
      @extend %inline-justufy;
    }
  }

  &__about {
    @extend %outline;
    width:370px;
    float: left;
  }

  &__list {
    @extend %outline;
    width: 770px;
    float: right;
    text-align: justify;
    font-size: 0;

    &::after {
      @extend %inline-justufy;
    }

    .clients-item {
      width:170px;
      height: 115px;
      background-color: $gray-bg;
      display: inline-block;
    }
  }

  .reviews-item {
    @extend %outline;
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    padding: 30px 30px 25px 20px;
    width:370px;
    background-color: $gray-bg;
    font: 14px/24px $accent-font;
    font-style: italic;
    color: $clients-color;

    &__text {
      text-align: left;
    }

    &__signature {
      font: bold 16px/24px $default-font;
    }

    &__user {
      width: 90px;
      height: 90px;
      position: absolute;
      bottom:0%;
      right:25px;
      margin-bottom:-45px;
      border-radius: 50%;
      border: 5px solid #202242;
      border: 5px solid rgba(32, 34, 66, 0.11);
      background: #eee url('../img/user-1.png') no-repeat 0 0;
    }
  }
}

//Plans

.plans {
  padding: 90px 120px;
  background-color: $default-text;

  &-bgc {
    background-color: $default-text;
  }

  &::after {
    @extend %clear;
  }

  &__question {
    box-sizing: border-box;
    float:left;
    color: $light-text;
    padding: 2% 0;

    &::after {
      @extend %clear;
    }

    .question__title {
      font-size: 36px;
      line-height: 24px;
      margin: 0 0 15px;
    }
    .question__subtitle{
      font-size:18px;
      line-height: 24px;
      color: #676991;
    }
  }

  &__btn {
    float: right;

    &::after {
      @extend %clear;
    }

    a {
      display: block;
      padding: 30px 60px;
      background-color: $accent-bgc;
      border: 4px solid #fff;
      color: $dark-text;
      font-weight: bold;
      text-decoration: none;
      @extend %transition;

      &:hover {
        @extend %hover-btn;
      }
    }
  }
}

//footer

footer.m-item {
  width: 100%;
  background-color: #363855;
  color: $light-text;

  .footer__map {
    background-size: cover;
    background: #363855 url('../img/footer-bg.jpg') no-repeat 50% 50%;
  }

  .footer__nav {
    margin-top: 140px;
    text-align: right;
    float: right;
    margin-bottom: 25px;

    &::after {
      @extend %clear;
    }

    &-title {
      font-size: 18px;
      margin: 0;
      margin-bottom: 35px;
    }

    &-list {
      margin: 0;
      padding-left: 30px;
      padding: 0;
      list-style: none;
    }

    &-item a{
      display: block;
      font-size: 16px;
      color: $light-text;
      padding: 10px 0;
      text-decoration: none;
      @extend %transition;
      border-bottom: 1px solid #fff;//for ie
      border-bottom: 1px solid rgba(255,255,255,0.16);

      &:hover {
        color: $accent-bgc;
        @extend %transition;
      }
    }
    &-back {
      font-size: 12px;
      text-decoration: none;
      color: $light-text;
      @extend %transition;

      &:hover {
        color: $accent-bgc;
        @extend %transition;
      }
    }
  }
  .footer__social {
    list-style: none;
    margin-bottom: 60px;;

    &-item {
      display: inline-block;
      margin-left: 20px;

      a {
        color:$accent-bgc;
        @extend %transition;

        &:hover {
          color: $light-text;
          @extend %transition;
        }
      }
    }
  }


  .footer__copyright {
    text-align: center;
    width:100%;
    float: left;
    margin-bottom: 70px;

    &::after {
      @extend %clear;
    }
  }
}


@import 'media-queries';

// mobile menu

.slicknav_menu {
  display:none;
  padding: 0;

  .slicknav_menutxt {
    text-shadow: none;
    color: $dark-text;
  }

  .slicknav_icon-bar {
    background-color: $dark-text;
  }
}

.slicknav_nav {
  background-color: $accent-bgc;
  box-shadow: inset 0px 9px 32px -8px rgba(0, 0, 0, 0.15);

  a {
    @extend %transition;

    &:hover {
      @extend %hover-btn;
      border-radius: 0px;
      background: #faf9f9;
    }
  }
}

.slicknav_btn {
  background: transparent;
}
