
@import 'fonts';

%outline {
  outline:1px solid #777;
  // height:500px;
}

%inline-justufy {
  content:'';
  display: inline-block;
  width: 100%;
}
//
// %header {
//   height:147px;
// }
%clear {
  content:'';
  display: table;
  clear: both;
}

%services {
  @extend %outline;
  width:585px;
  // height: 655px;
  padding-top: 115px;
  padding-bottom: 105px;
}

$bgc: #ccc;
$light-text: #fff;
$dark-text: #000;
$accent-text: #f4d320;
$accent-font: 'Rockwell', monospace;
$default-text: #202242;
$default-font: 'Raleway', sans-serif;
$gray-bg: #faf9f9;
$clients-color: #adadad;
$accent-bgc: #ffe13e;
$gray-color: #363855;

html {
  font-family: $default-font;
}
//header
header.m-item {
  height:147px;
}
.m-item {
  @extend %outline;
  width: 100%;

  &::after {
    content:'';
    display: table;
    clear: both;
  }

  &--left {
    @extend %outline;
    width:50%;
    background-color: #202242;
    float:left;
    &__serv {
      @extend %services;
      float: right;
    }
  }

  &--right {
    @extend %outline;
    width:50%;
    background-color: $accent-bgc;
    float:left;
    &__serv {
      @extend %services;
      float: left;
    }
  }
}
// .action-block {
//   height:100%;
//   width:100%;
//   background-color: #ffe13e;
// }

//main
.c-wrapp {
  @extend %outline;
  position: relative;
  max-width: 1170px;
  height: 100%;
  // background-color: $bgc;
  margin: 0 auto;

  &::after {
    @extend %clear;
  }
}
.m-item--left::after,
.m-item--right::after {
  @extend %clear;
}
.slide {
  width:100%;
  background: #eee url('../img/bg-slide.jpg') no-repeat 50% 50%;
  background-size: cover;
  height:794px;
}

//services
.action_block {
  // font-family: $default-font;
  color: $light-text;
  .action-img {
    position: relative;
    // text-align: center;
    width:170px;
    height: 170px;
    // background-color: red;
    margin:0 auto 50px;

    &--left {
      background: url('../img/services-icon.png') no-repeat 50% 50%;
    }
    &--right {
      position: absolute;
      top:30%;
      left:-40%;
      font-size: 134px;
      font-weight: bold;
      line-height: 44px;
      color: $dark-text;
    }
  }

  .action-title {
    font-size: 36px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    margin-bottom: 20px;
  }

  .action-text {
    // width:420px;
    margin: 0 85px;
    text-align: center;
    font-size:14px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  .action-btn {
    box-sizing: border-box;
    width: 155px;
    display: block;
    padding: 20px 55px;
    font-size:18px;
    line-height: 24px;
    margin: 0 auto;
    border: 3px solid $light-text;
    color: $light-text;
    text-decoration: none;
    transition: all .2s ease-out;
    &:hover {
      background-color: rgba(255,255,255,.1);
      transition: all .2s ease-out;
    }
  }
}

//features
.features {
  width:100%;
  background: #fbf8f1 url('../../img/bg-features.png') no-repeat 50% 100%;
  padding:100px 0 120px;

  &-bgc {
    background-color: #fbf8f1;
  }

  &__title {
    font-size: 48px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
  }

  &__subtitle {
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 85px;
  }

  &__list {
    width:100%;
    text-align: justify;
    &::after {
      content: '';
      width:100%;
      display: inline-block;
    }
  }

  &-item {
    @extend %outline;
    width: 260px;
    padding: 0 5px;
    text-align: center;
    display: inline-block;


    &__img {
      padding-bottom: 38px;
      position: relative;

      &::after {
        content:'';
        width:70px;
        height: 3px;
        background-color: #8d8d99;
        position: absolute;
        bottom: 0;
        left:50%;
        margin-left: -35px;
      }
    }

    &__title {
      // font-size: 30px;
      // line-height: 24px;
      margin-bottom: 20px;
      color: $accent-text;
      font: 30px/24px $accent-font;
    }

    &__text {
      font-size: 14px;
      line-height: 24px;
      color: $default-text;
    }
  }
}
//clients
.clients {
  width:100%;
  padding-top: 80px;
  padding-bottom: 30px;

  &::after,
  &-wrap::after {
    @extend %clear;
  }

  &-wrap {
    margin-bottom: 88px;
    width: 100%;
    text-align: justify;

    &::after {
      @extend %inline-justufy;
    }
  }

  &-reviews {
    text-align: justify;
    width: 100%;
    margin-bottom: 110px;

    &::after {
      @extend %inline-justufy;
    }
  }

  &__about {
    @extend %outline;
    width:370px;
    float: left;
  }

  &__list {
    @extend %outline;
    width: 770px;
    float: right;
    text-align: justify;
    font-size: 0;

    &::after {
      @extend %inline-justufy;
    }

    .clients-item {
      width:170px;
      height: 115px;
      background-color: $gray-bg;
      display: inline-block;
    }
  }
  // &-reviews__list {
  //   @extend %outline;
  //   margin-top: 88px;
  //   text-align: justify;
  //   font-size: 0;
  //
  //   &::after {
  //     @extend %inline-justufy;
  //   }
  // }

  .reviews-item {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    padding: 30px 30px 25px 20px;
    width:370px;
    background-color: $gray-bg;
    font: 14px/24px $accent-font;
    font-style: italic;
    color: $clients-color;

    &__text {
      text-align: left;
    }

    &__signature {
      font: bold 16px/24px $default-font;
    }

    &__user {
      width: 90px;
      height: 90px;
      position: absolute;
      bottom:0%;
      right:25px;
      margin-bottom:-45px;
      border-radius: 50%;
      border: 5px solid #202242;
      border: 5px solid rgba(32, 34, 66, 0.11);
      background: #eee url('../../img/user-1.png') no-repeat 0 0;
    }
  }
}

//Plans
.plans {
  padding: 90px 120px;
  background-color: $default-text;

  &-bgc {
    background-color: $default-text;
  }

  &::after {
    @extend %clear;
  }

  &__question {
    box-sizing: border-box;
    float:left;
    color: $light-text;
    padding: 2% 0;

    &::after {
      @extend %clear;
    }

    .question__title {
      font-size: 36px;
      line-height: 24px;
      margin: 0 0 15px;
    }
    .question__subtitle{
      font-size:18px;
      line-height: 24px;
      color: #676991;
    }
  }

  &__btn {
    float: right;

    &::after {
      @extend %clear;
    }

    a {
      display: block;
      padding: 30px 60px;
      background-color: $accent-bgc;
      border: 4px solid #fff;
      color: $dark-text;
      font-weight: bold;
      text-decoration: none;
    }
  }
}

//footer
footer.m-item {
  width: 100%;
  background: #363855 url('../img/footer-bg.jpg') no-repeat 0 0;
  background-size: cover;
  color: $light-text;

  .footer__nav {
    margin-top: 140px;
    text-align: right;
    float: right;
    margin-bottom: 25px;

    &::after {
      @extend %clear;
    }

    &-title {
      font-size: 18px;
      margin: 0;
      margin-bottom: 35px;
    }

    &-list {
      margin: 0;
      padding-left: 30px;
      padding: 0;
      list-style: none;
    }

    &-item a{
      display: block;
      font-size: 16px;
      color: $light-text;
      padding: 10px 0;
      text-decoration: none;
      transition: all .2s ease-out;
      border-bottom: 1px solid #fff;//for ie
      border-bottom: 1px solid rgba(255,255,255,0.16);

      &:hover {
        color: $accent-bgc;
        transition: all .2s ease-out;
      }
    }
    &-back {
      font-size: 12px;
      text-decoration: none;
      color: $light-text;
      transition: all .2s ease-out;

      &:hover {
        color: $accent-bgc;
        transition: all .2s ease-out;
      }
    }
  }
  .footer__social {
      list-style: none;
      margin-bottom: 60px;;

      &-item {
        display: inline-block;
        margin-left: 20px;

        a {
          color:$accent-bgc;
          transition: all .2s ease-out;

          &:hover {
            color: $light-text;
            transition: all .2s ease-out;
          }
        }
      }
  }


  .footer__copyright {
    text-align: center;
    width:100%;
    float: left;
    margin-bottom: 70px;

    &::after {
      @extend %clear;
    }
    // position: absolute;
    // bottom: 70px;
    // left:50%;
    // margin-left:120px;

    &-text {
      // color: $light-text;
    }
  }
}
