
@import 'fonts';

%outline {
  outline:1px solid #777;
  // height:500px;
}
%header {
  height:147px;
}
%clear {
  content:'';
  display: table;
  clear: both;
}
%services {
  @extend %outline;
  width:585px;
  // height: 655px;
  padding-top: 115px;
  padding-bottom: 105px;
}

$bgc: #ccc;
$light-text: #fff;
$dark-text: #000;
$accent-text: #f4d320;
$accent-font: 'Rockwell', monospace;
$default-text: #202242;
$default-font: 'Raleway', sans-serif;
$gray-bg: #faf9f9;

html {
  font-family: $default-font;
}
//header
header.m-item {
  height:147px;
}
.m-item {
  @extend %outline;
  width: 100%;

  &::after {
    content:'';
    display: table;
    clear: both;
  }

  &--left {
    @extend %outline;
    width:50%;
    background-color: #202242;
    float:left;
    &__serv {
      @extend %services;
      float: right;
    }
  }

  &--right {
    @extend %outline;
    width:50%;
    background-color: #ffe13e;
    float:left;
    &__serv {
      @extend %services;
      float: left;
    }
  }
}
// .action-block {
//   height:100%;
//   width:100%;
//   background-color: #ffe13e;
// }

//main
.c-wrapp {
  max-width: 1170px;
  height: 100%;
  background-color: $bgc;
  margin: 0 auto;
}
.m-item--left::after,
.m-item--right::after {
  @extend %clear;
}
.slide {
  width:100%;
  background: #eee url('../img/bg-slide.jpg') no-repeat 50% 50%;
  background-size: cover;
  height:794px;
}

//services
.action_block {
  font-family: $default-font;
  color: $light-text;
  .action-img {
    width:170px;
    height: 170px;
    background-color: red;
    margin:0 auto 50px;
  }
  .action-title {
    font-size: 36px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    margin-bottom: 20px;
  }

  .action-text {
    // width:420px;
    margin: 0 85px;
    text-align: center;
    font-size:14px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  .action-btn {
    box-sizing: border-box;
    width: 155px;
    display: block;
    padding: 20px 55px;
    font-size:18px;
    line-height: 24px;
    margin: 0 auto;
    border: 3px solid $light-text;
    color: $light-text;
    text-decoration: none;
    transition: all .2s ease-out;
    &:hover {
      background-color: rgba(255,255,255,.1);
      transition: all .2s ease-out;
    }
  }
}

//features
.features {
  width:100%;
  background: #fbf8f1 url('../../img/bg-features.png') no-repeat 50% 100%;
  padding:100px 0 120px;

  &__title {
    font-size: 48px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
  }

  &__subtitle {
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 85px;
  }

  &__list {
    width:100%;
    text-align: justify;
    &::after {
      content: '';
      width:100%;
      display: inline-block;
    }
  }

  &-item {
    @extend %outline;
    width: 240px;
    padding: 0 15px;
    text-align: center;
    display: inline-block;


    &__img {
      padding-bottom: 38px;
      position: relative;

      &::after {
        content:'';
        width:70px;
        height: 3px;
        background-color: #8d8d99;
        position: absolute;
        bottom: 0;
        left:50%;
        margin-left: -35px;
      }
    }

    &__title {
      // font-size: 30px;
      // line-height: 24px;
      margin-bottom: 20px;
      color: $accent-text;
      font: 30px/24px $accent-font;
    }

    &__text {
      font-size: 14px;
      line-height: 24px;
      color: $default-text;
    }
  }
}
//clients
.clients {
  width:100%;
  padding-top: 80px;
  padding-bottom: 60px;

  &::after {
    @extend %clear;
  }

  &__about {
    @extend %outline;
    width:370px;
    float: left;
  }

  &__list {
    @extend %outline;
    width: 770px;
    float: right;
    text-align: justify;

    &::after {
      content:'';
      display: inline-block;
      width: 100%;
    }

    .clients-item {
      width:170px;
      height: 115px;
      background-color: $gray-bg;
      display: inline-block;
    }
  }


}
